$primary: rgb(230, 230, 235);
$primaryAccent: rgb(255, 255, 255);
$primaryBorder: rgb(205, 205, 200);

$secondary: rgb(34, 34, 38);
$secondaryAccent: rgb(44, 44, 48);
$secondaryBorder: rgb(34, 34, 38);

$font: black;
$fontDark: white;

$borderRadius: 0.25rem;
$gradient: linear-gradient(
  45deg,
  grey,
  rgb(164, 164, 164)
);
