$primary: rgb(235, 235, 235);
$primaryAccent: rgb(255, 255, 255);
$primaryBorder: rgb(205, 205, 205);

$secondary: rgb(34, 34, 36);
$secondaryAccent: rgb(44, 44, 46);
$secondaryBorder: rgb(34, 34, 36);

$font: black;
$fontDark: white;

$borderRadius: 0.25rem;
$gradient: linear-gradient(
  45deg,
  #711DB0,
  #C21292,
  #EF4040,
  #FFA732,
);
