$primary: rgb(230, 230, 235);
$primaryAccent: rgb(255, 255, 255);
$primaryBorder: rgb(205, 205, 200);

$secondary: rgb(24, 24, 26);
$secondaryAccent: rgb(30, 30, 32);
$secondaryBorder: rgb(24, 24, 26);

$font: black;
$fontDark: white;

$borderRadius: 0.25rem;
$gradient: linear-gradient(
  45deg,
  #00000000 0%,
  #ffffffaa 50%,
  #00000000 100%,
);
