@use '../utilities/variables';

#article {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  padding-top: 1.5rem;
  margin-top: 4.6rem;
}

#article > h1 {
  display: flex;
  justify-content: start;
  align-items: start;
  height: auto;
  max-width: 100%;
}

#article > img {
  height: 25rem;
  max-width: 100%;
  object-fit: cover;
  background-color: darkcyan;
}

#article > p {
  font-size: 1.25rem;
  line-height: 1.25;
  overflow: hidden;
}

#article > button {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 2rem;
  z-index: 1;
}
