@use '../utilities/variables';

#home {
  display: grid;
  grid-auto-rows: 30rem;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  margin-top: 4.6rem;
}

#home > div {
  display: grid;
  gap: 1rem;
  overflow: hidden;
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  border-radius: variables.$borderRadius;
}

#home > div > a {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100%;
  border-radius: variables.$borderRadius;
  background: variables.$primaryAccent;
  background-size: 250% 250%;
}

#home > div > a > img {
  height: 50%;
  max-width: 100%;
  padding: 0;
  object-fit: cover;
  z-index: 1;
}

#home > div > a > h1 {
  display: flex;
  justify-content: start;
  align-items: start;
  flex: 1;
  max-width: 100%;
  padding: 1rem;
  padding-top: 0.5rem;
  word-break: break-all;
  z-index: 1;
}

#home > div > a > p {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  padding: 1rem;
  padding-top: 0.5rem;
  z-index: 1;
}

#home > .newsConOne > a > h1,
#home > .newsConTwo > a > h1 {
  font-size: 2.4rem;
}

#home > .newsConOne> a:last-child {
  grid-area: 1/1/3/3;
}

#home > .newsConTwo> a:first-child {
  grid-area: 1/1/3/1;
}

#home > .newsConTwo> a:last-child {
  grid-area: 1/2/3/2;
}

#home > .newsConThree > a > h1,
#home > .newsConFour > a > h1,
#home > .newsConSix > a > h1 {
    font-size: 1.4rem;
}

#home > .newsConThree > a:last-child {
  grid-area: 1/1/1/3;
}

#home > .newsConFour > a:last-child {
  grid-area: 1/1/1/1;
}

#home > .newsConFive {
  grid-template: repeat(3, 1fr)/repeat(2, 1fr);
}

#home > .newsConFive > a > h1 {
  font-size: 1.6rem;
}

#home > .newsConFive > a:last-child > h1 {
  font-size: 1.95rem;
}

#home > .newsConFive > a > img {
  display: none;
}

#home > .newsConFive > a:last-child > img,
#home > .newsConFive > a > #articleImgBlur{
  display: block;
}

#home > .newsConFive > a:last-child {
  grid-area: 1/1/4/1;
}

#home > .newsConSix > a:first-child > h1 {
  font-size: 1.95rem;
}

#home > .newsConSix > a:first-child {
  grid-area: 1/2/3/2;
}

@media screen and (min-width: 576px) {
  #home {
    display: grid;
    grid-auto-rows: 30rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  #home {
    display: grid;
    grid-auto-rows: 30rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
