@use '../utilities/variables';

#home {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  margin-top: 5.1rem;
}

#home > h1 {
  display: flex;
  justify-content: start;
  max-width: 100%;
  height: auto;
}

#home > div {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 7.5rem;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  border-radius: variables.$borderRadius;
}

#home > .newsTwo {
  display: grid;
  grid-auto-rows: 7.5rem;
  grid-template-columns: 1fr;
}

#home > .newsTwo > a {
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

#home > .newsTwo > a > p {
  display: none;
}

#home > .newsThree {
  display: grid;
  grid-auto-rows: 7.5rem;
  grid-template-columns: 1fr 1fr;
}

#home > div > a {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  max-width: 100%;
  height: 100%;
  padding: 0rem;
  border-radius: variables.$borderRadius;
}

#home > .newsOne > a:nth-child(1) { grid-area: span 4 / span 2; }
#home > .newsOne > a:nth-child(2) { grid-area: span 2 / span 1; }
#home > .newsOne > a:nth-child(3) { grid-area: span 2 / span 1; }
#home > .newsOne > a:nth-child(4),
#home > .newsOne > a:nth-child(5),
#home > .newsOne > a:nth-child(6),
#home > .newsOne > a:nth-child(7) {
  grid-area: span 1 / span 2;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

#home > .newsOne > a:nth-child(8),
#home > .newsOne > a:nth-child(9) {
  grid-area: span 2 / span 1;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}

#home > .newsOne > a:nth-child(4) > p,
#home > .newsOne > a:nth-child(5) > p,
#home > .newsOne > a:nth-child(6) > p,
#home > .newsOne > a:nth-child(7) > p,
#home > .newsOne > a:nth-child(8) > p,
#home > .newsOne > a:nth-child(9) > p {
  display: none;
}

#home > .newsOne > a:nth-child(1) > div > h2 {
  font-size: 1.75rem;
}

#home > .newsOne > a:nth-child(4) > div > h2,
#home > .newsOne > a:nth-child(5) > div > h2,
#home > .newsOne > a:nth-child(6) > div > h2,
#home > .newsOne > a:nth-child(7) > div > h2 {
  font-size: 1.125rem;
}

#home > .newsTwo > a > div > h2 {
  font-size: 1.125rem;
}

#home > .newsThree > a:nth-child(1) { grid-area: span 2 / span 1; }
#home > .newsThree > a:nth-child(2) { grid-area: span 2 / span 1; }
#home > .newsThree > a:nth-child(3) { grid-area: span 2 / span 2; }
#home > .newsThree > a:nth-child(4) { grid-area: span 4 / span 2; }

#home > .newsThree > a:nth-child(4) > div > h2 { font-size: 1.75rem; }

#home > div > a > img {
  height: 100%;
  max-width: 100%;
  padding: 0;
  object-fit: cover;
  overflow: hidden;
  z-index: 0;
}

#home > div > a > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  gap: 1rem;
  overflow: hidden;
}

#home > div > a > div > h2 {
  display: flex;
  justify-content: start;
  align-items: start;
  height: 100%;
  overflow: hidden;
  max-width: fit-content;
  word-break: break-all;
}

#home > div > a > div > p {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  opacity: 50%;
}

@media screen and (min-width: 576px) {
  #home > div {
    grid-auto-rows: 7.5rem;
    grid-template-columns: repeat(3, 1fr);
  }

  #home > .newsTwo {
    grid-auto-rows: 7.5rem;
    grid-template-columns: 1fr 1fr;
  }

  #home > .newsTwo > a { grid-template-columns: 1fr 1fr; }
  #home > .newsTwo > a > h2 { display: block; }

  #home > .newsThree {
    grid-auto-rows: 7.5rem;
    grid-template-columns: repeat(4, 1fr);
  }

  #home > .newsThree > a:nth-child(1) { grid-area: span 2 / span 1; }
  #home > .newsThree > a:nth-child(2) { grid-area: span 2 / span 1; }
  #home > .newsThree > a:nth-child(3) { grid-area: span 4 / span 2; }
  #home > .newsThree > a:nth-child(4) { grid-area: span 2 / span 2; }

  #home > .newsThree > a:nth-child(3) > div > h2 { font-size: 1.75rem; }
  #home > .newsThree > a:nth-child(4) > div > h2 { font-size: 1.25rem; }

  #home > .newsOne > a:nth-child(4),
  #home > .newsOne > a:nth-child(5),
  #home > .newsOne > a:nth-child(6),
  #home > .newsOne > a:nth-child(7),
  #home > .newsOne > a:nth-child(8),
  #home > .newsOne > a:nth-child(9) {
    grid-area: span 1 / span 1;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }

  #home > .newsOne > a:nth-child(4) > p,
  #home > .newsOne > a:nth-child(5) > p,
  #home > .newsOne > a:nth-child(6) > p,
  #home > .newsOne > a:nth-child(7) > p,
  #home > .newsOne > a:nth-child(8) > p,
  #home > .newsOne > a:nth-child(9) > p {
    display: none;
  }

  #home > .newsOne > a:nth-child(4) > img,
  #home > .newsOne > a:nth-child(5) > img,
  #home > .newsOne > a:nth-child(6) > img,
  #home > .newsOne > a:nth-child(7) > img,
  #home > .newsOne > a:nth-child(8) > img,
  #home > .newsOne > a:nth-child(9) > img {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  #home > div {
    grid-auto-rows: 7.5rem;
    grid-template-columns: repeat(5, 1fr);
  }

  #home > .newsTwo {
    grid-auto-rows: 7.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #home > .newsThree {
    grid-auto-rows: 7.5rem;
    grid-template-columns: repeat(5, 1fr);
  }

  #home > .newsThree > a:nth-child(1) { grid-area: span 2 / span 1; }
  #home > .newsThree > a:nth-child(2) { grid-area: span 2 / span 1; }
  #home > .newsThree > a:nth-child(3) { grid-area: span 4 / span 3; }
  #home > .newsThree > a:nth-child(4) { grid-area: span 2 / span 2; }

  #home > .newsThree > a:nth-child(3) > div > h2 { font-size: 1.75rem; }

  #home > .newsOne > a:nth-child(4),
  #home > .newsOne > a:nth-child(5),
  #home > .newsOne > a:nth-child(8),
  #home > .newsOne > a:nth-child(9) {
    grid-area: span 1 / span 1;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }

  #home > .newsOne > a:nth-child(4) > div > h2,
  #home > .newsOne > a:nth-child(5) > div > h2,
  #home > .newsOne > a:nth-child(8) > div > h2,
  #home > .newsOne > a:nth-child(9) > div > h2 {
    font-size: 1.125rem;
  }

  #home > .newsOne > a:nth-child(6),
  #home > .newsOne > a:nth-child(7) {
    grid-area: span 2 / span 1;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }

  #home > .newsOne > a:nth-child(6) > div > h2,
  #home > .newsOne > a:nth-child(7) > div > h2 {
    font-size: 1.25rem;
  }

  #home > .newsOne > a:nth-child(6) > p,
  #home > .newsOne > a:nth-child(7) > p {
    display: block;
  }

  #home > .newsOne > a:nth-child(6) > img,
  #home > .newsOne > a:nth-child(7) > img {
    display: block;
  }

  #home > .newsOne > a:nth-child(4) > img,
  #home > .newsOne > a:nth-child(5) > img,
  #home > .newsOne > a:nth-child(8) > img,
  #home > .newsOne > a:nth-child(9) > img {
    display: none;
  }
}