@use '../utilities/variables.scss';

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
  gap: 0.5rem;
  top: 0;
  z-index: 2;
  box-shadow: variables.$darkShadow;
  background-color: variables.$primaryAccent; 
  border-bottom: 2px solid variables.$primaryBorder;
}

nav > a {
  display: flex;
  align-items: center;
  justify-content: start;
  overflow: hidden;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

nav > a > img {
  max-width: 4rem;
  width: auto;
  height: 3rem;
  margin: 0;
  padding-right: 1rem;
  padding-left: 1rem;
}

nav > a > h1 {
  width: auto;
  height: 2rem;
  margin: 0;
  font-size: 1.75rem;
  padding-left: 1rem;
  border-left: 2px solid variables.$primaryBorder;
  border-radius: 0;
}

nav > ul, #dropdown, #dropdownHidden {
  position: fixed;
  display: none;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: 9.5rem;
  top: 0;
  right: 0;
  padding: 0.5rem;
  gap: 0.5rem;
  overflow: hidden;
  transform-origin: top;
  transition: transform 0.8s ease;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  z-index: 1;
}

nav > ul > a, #dropdown > a {
}

#dropdown {
  display: flex;
  transform: translateY(5.1rem);
}

#dropdown > a,
#dropdownHidden > a,
#dropdown > button,
#dropdownHidden > button {
  display: flex;
  justify-content: start;
  max-width: 100%;
  padding: 1.5rem;
}

#dropdownHidden {
  display: flex;
  transform: translateY(-5.1rem);
}

@media screen and (min-width: 576px) {
  nav > ul {
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    height: 4rem;
    padding: 0;
    justify-content: end;
    border-bottom: 0;
  }

  #dropdown {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 9.5rem;
    padding: 0.5rem;
    transform: translateY(-5.1rem);
    border-bottom: 2px solid transparent; 
  }

  nav > button { display: none; }
}
