@use '../utilities/variables.scss';

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.25rem;
  gap: 0.25rem;
  top: 0;
  z-index: 2;
  background-color: variables.$primary; 
  border-bottom: 2px solid variables.$primaryBorder;
}

nav > ul {
  position: absolute;
  display: none;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: 13rem;
  top: 0;
  right: 0;
  padding: 0.25rem;
  gap: 0.25rem;
  transform-origin: top;
  transition: transform 0.4s ease;
  background-color: variables.$primary; 
  border-bottom: 2px solid variables.$primaryBorder;
  border-radius: 0;
}

nav > ul > a {
  align-self: flex-end;
}

nav > #dropdown {
  display: flex;
  transform: translateY(4.6rem) scaleY(1);
}

nav > #dropdown > a,
nav > #dropdownHidden > a {
  display: flex;
  justify-content: start;
  max-width: 100%;
  padding: 1.5rem;
}

nav > #dropdownHidden {
  display: flex;
  transform: translateY(4.6rem) scaleY(0);
}

@media screen and (min-width: 576px) {
  nav > ul {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    height: 4rem;
    padding: 0;
    justify-content: end;
    border-bottom: 0px;
  }

  nav > #dropdown, nav > #dropdownHidden {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10rem;
    padding: 0.25rem;
    transform: translateY(4.6rem) scaleY(0); 
    border-bottom: 2px solid black; 
  }

  nav > button { display: none; }
}
